#heroProfile {
  background: transparent;
  color: #fff;
  width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 50px;
  /* box-shadow: 1px 1px 20px #ec1d24; */
  margin: 50px;
  border-radius: 50px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
}
#heroProfile .fav-div {
  width: 80%;
  /* height: 700px; */
  display: flex;
  justify-content: space-around;
  border: 1px solid transparent;
  border-radius: 70px;
  -webkit-border-radius: 70px;
  -moz-border-radius: 70px;
  -ms-border-radius: 70px;
  -o-border-radius: 70px;
  margin-top: 50px;
  background-color: #000;
}
#heroProfile img {
  width: 100%;
  height: 100%;
  margin-right: 100px;
  border-top-left-radius: 10%;
  border-bottom-left-radius: 10%;
}
#heroProfile .flexHelp {
  width: 1000px;
  margin-left: 30px;
}
#heroProfile .flexFav {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  border-bottom: 5px solid #ec1d24;
  align-items: center;
}

#heroProfile h1 {
  width: 500px;
  font-size: 4rem;
  font-style: italic;
}
#heroProfile p {
  margin: 20px 10px;
  font-style: italic;
  font-size: 1.5rem;
}
#heroProfile h3 {
  margin: 20px 10px;
  font-style: italic;
  font-size: 2rem;
}
#heroProfile .fa-heart {
  padding: 10px;
  color: #fff;
  text-align: center;
  font-size: 2.5rem;
}
#heroProfile .love {
  color: #ec1d24 !important;
}
#heroProfile h2 {
  font-size: 3rem;
  padding: 10px 0px;
  margin: 20px 0;
  border-bottom: 5px solid #ec1d24;
}
#heroProfile a {
  text-decoration: none;
  margin: 10px;
  font-size: 2rem;
  color: blue;
}
